[theme='icy-dark'] .btn-primary {
  background: linear-gradient(#058d92, #025854);
  border-color: #02c0c0;
  color: #e2e2e2;
}

[theme='icy-dark'] .btn-primary:hover {
  background: linear-gradient(#058d92, #025854);
}

[theme='icy-dark'] .btn-primary:disabled {
  background: linear-gradient(#203535, #152727);
  border-color: #004441;
}
