[theme='dark-blue'] .btn-primary {
  background: #4183c4;
  color: #e2e2e2;
}

[theme='dark-blue'] .btn-primary:hover {
  background: #548fc9;
}

[theme='dark-blue'] .btn-primary:disabled {
  background: #1e4163;
}
