[theme='classic-dark'] .btn-primary {
  background: linear-gradient(#407045, #305530);
  border-color: #083;
  color: #e2e2e2;
}

[theme='classic-dark'] .btn-primary:hover {
  background: linear-gradient(#508055, #407045);
}

[theme='classic-dark'] .btn-primary:disabled {
  background: linear-gradient(#203522, #152715);
  border-color: #041;
}

[theme='classic-dark'] img {
  filter: brightness(80%);
}
