/* Needs refactoring */

/* Base form controls */
/* Overrides for common inputs for easier styling. */

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

label {
  font-weight: var(--font-weight-bold);
}

.form-control,
.form-select {
  padding: 5px 12px;
  font-size: var(--body-font-size);
  line-height: 20px;
  color: var(--text-gray-dark);
  vertical-align: middle;
  background-color: var(--bg-white);
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: var(--border-width) var(--border-style) var(--border-color);
  border-radius: var(--border-radius);
  outline: none;
  box-shadow: var(--box-shadow-inset);
  /* Ensures inputs don't zoom on mobile iPhone but are body-font size on iPad */
}

.form-control.focus,
.form-control:focus,
.form-select.focus,
.form-select:focus {
  border-color: var(--border-blue);
  outline: none;
  box-shadow: var(--box-shadow-focus);
}

.form-control[disabled],
.form-select[disabled] {
  color: var(--gray-400);
  background-color: #f3f4f6;
}

@supports (-webkit-touch-callout: none) {

  .form-control,
  .form-select {
    font-size: var(--h4-size);
  }

  @media (min-width: var(--width-md)) {

    .form-control,
    .form-select {
      font-size: var(--body-font-size);
    }
  }
}


/* Textarea */
textarea.form-control {
  padding-top: var(--spacer-2);
  padding-bottom: var(--spacer-2);
  line-height: var(--lh-default);
}

/* Inputs with contrast for easy light gray backgrounds against white. */
.input-contrast {
  background-color: var(--bg-gray-light);
}

.input-contrast:focus {
  background-color: var(--bg-white);
}


/* Inputs to be used against dark backgrounds. */
.input-dark {
  color: var(--text-white);
  background-color: var(--white-fade-15);
  border-color: transparent;
  box-shadow: none;
}

.input-dark::placeholder {
  color: inherit;
  opacity: 0.6;
}

.input-dark.focus,
.input-dark:focus {
  border-color: var(--black-fade-30);
  box-shadow: 0 0 0 0.2em rgba(var(--blue-300), 0.4);
}


/* Custom styling for HTML5 validation bubbles (WebKit only) */
::placeholder {
  color: var(--text-gray-light);
  opacity: 1;
}

/* Mini inputs, to match .minibutton */
.input-sm {
  padding-top: 3px;

  padding-bottom: 3px;
  font-size: var(--font-size-small);

  line-height: 20px;
}

/* Large inputs */
.input-lg {
  font-size: var(--h4-size);
}

/* Full-width inputs */
.input-block {
  display: block;
  width: 100%;
}

/* Inputs with monospace text */
.input-monospace {
  font-family: var(--mono-font);
}

/* Hide the icon that tries to autofill contact info in webkit */
.input-hide-webkit-autofill::-webkit-contacts-auto-fill-button {
  position: absolute;
  right: 0;
  display: none !important;
  pointer-events: none;
  visibility: hidden;
}


/* Checkboxes and Radiobuttons
For checkboxes and radio button selections. */
.form-checkbox {
  padding-left: 20px;
  margin: 15px 0;
  vertical-align: middle;
}

.form-checkbox label em.highlight {
  position: relative;
  left: -(var(--spacer-1));
  padding: 2px var(--spacer-1);
  font-style: normal;
  background: var(--yellow-100);
  border-radius: var(--border-radius);
}

.form-checkbox input[type='checkbox'],
.form-checkbox input[type='radio'] {
  float: left;
  margin: 5px 0 0 -20px;
  vertical-align: middle;
}

.form-checkbox .note {
  display: block;
  margin: 0;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-normal);
  color: var(--text-gray);
}


.form-checkbox-details {
  display: none;
}

.form-checkbox-details-trigger:checked~* .form-checkbox-details,
.form-checkbox-details-trigger:checked~.form-checkbox-details {
  display: block;
}

/* Field groups
Wrap field groups in `<div.hfields>` to lay them out horizontally - great for
the top of pages with autosave. */
.hfields {
  margin: 15px 0;
}

.hfields .form-group {
  float: left;
  margin: 0 30px 0 0;
}

.hfields .form-group dt label,
.hfields .form-group .form-group-header label {
  display: inline-block;
  margin: 5px 0 0;
  color: var(--text-gray);
}

.hfields .form-group dt img,
.hfields .form-group .form-group-header img {
  position: relative;
  top: -2px;
}

.hfields .btn {
  float: left;
  margin: 28px 25px 0 -20px;
}

.hfields .form-select {
  margin-top: 5px;
}

.hfields::before {
  display: table;
  content: '';
}

.hfields::after {
  display: table;
  clear: both;
  content: '';
}

/* Hide the up/down buttons in <input type="number"> in the login form, the
input is used for two-factor auth codes, type="number" makes it more usable
on phones */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

/* Input groups */
.form-actions::before {
  display: table;
  content: '';
}

.form-actions::after {
  display: table;
  clear: both;
  content: '';
}

.form-actions .btn {
  float: right;
}

.form-actions .btn+.btn {
  margin-right: 5px;
}

.form-warning {
  padding: var(--spacer-2) 10px;
  margin: 10px 0;
  font-size: var(--h5-size);
  color: var(--yellow-900);
  background: var(--yellow-100);
  border: var(--border-width) var(--border-style) var(--border-yellow);
  border-radius: var(--border-radius);
}

.form-warning p {
  margin: 0;
  line-height: var(--lh-default);
}

.form-warning a {
  font-weight: var(--font-weight-bold);
}


/* Form groups
Usage:
<div class="form-group">
  <div class="form-group-header"> containing the label
  <div class="form-group-body"> containing the form elements
</div> */
.form-group {
  margin: 15px 0;
}

.form-group .form-control {
  width: 440px;
  max-width: 100%;
  margin-right: 5px;
  background-color: var(--bg-gray-light);
}

.form-group .form-control:focus {
  background-color: var(--bg-white);
}

.form-group .form-control.shorter {
  width: 130px;
}

.form-group .form-control.short {
  width: 250px;
}

.form-group .form-control.long {
  width: 100%;
}

.form-group textarea.form-control {
  width: 100%;
  height: 200px;
  min-height: 200px;
}

.form-group textarea.form-control.short {
  height: 50px;
  min-height: 50px;
}

.form-group dt,
.form-group .form-group-header {
  margin: 0 0 6px;
}

.form-group label {
  position: relative;
}

.form-group.flattened dt,
.form-group.flattened .form-group-header {
  float: left;
  margin: 0;
  line-height: 32px;
}

.form-group.flattened dd,
.form-group.flattened .form-group-body {
  line-height: 32px;
}

.form-group dd h4,
.form-group .form-group-body h4 {
  margin: var(--spacer-1) 0 0;
}

.form-group dd h4.is-error,
.form-group .form-group-body h4.is-error {
  color: var(--text-red);
}

.form-group dd h4.is-success,
.form-group .form-group-body h4.is-success {
  color: var(--text-green);
}

.form-group dd h4+.note,
.form-group .form-group-body h4+.note {
  margin-top: 0;
}

.form-group.required dt label::after,
.form-group.required .form-group-header label::after {
  padding-left: 5px;
  color: var(--text-red);
  content: '*';
}

.form-group .success,
.form-group .error,
.form-group .indicator {
  display: none;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
}

.form-group.loading {
  opacity: 0.5;
}

.form-group.loading .indicator {
  display: inline;
}

.form-group.loading .spinner {
  display: inline-block;
  vertical-align: middle;
}

.form-group.successful .success {
  display: inline;
  color: var(--text-green);
}

.form-group.successed .success,
.form-group.successed .warning,
.form-group.successed .error,
.form-group.warn .success,
.form-group.warn .warning,
.form-group.warn .error,
.form-group.errored .success,
.form-group.errored .warning,
.form-group.errored .error {
  position: absolute;
  z-index: 10;
  display: block;
  max-width: 450px;
  padding: var(--spacer-1) var(--spacer-2);
  margin: var(--spacer-2) 0 0;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-normal);
  border-style: var(--border-style);
  border-width: var(--border-width);
  border-radius: var(--border-radius);
}

.form-group.successed .success::after,
.form-group.successed .success::before,
.form-group.successed .warning::after,
.form-group.successed .warning::before,
.form-group.successed .error::after,
.form-group.successed .error::before,
.form-group.warn .success::after,
.form-group.warn .success::before,
.form-group.warn .warning::after,
.form-group.warn .warning::before,
.form-group.warn .error::after,
.form-group.warn .error::before,
.form-group.errored .success::after,
.form-group.errored .success::before,
.form-group.errored .warning::after,
.form-group.errored .warning::before,
.form-group.errored .error::after,
.form-group.errored .error::before {
  position: absolute;
  bottom: 100%;
  left: 10px;
  z-index: 15;
  width: 0;
  height: 0;
  pointer-events: none;
  content: ' ';
  border: var(--border-style) transparent;
}

.form-group.successed .success::after,
.form-group.successed .warning::after,
.form-group.successed .error::after,
.form-group.warn .success::after,
.form-group.warn .warning::after,
.form-group.warn .error::after,
.form-group.errored .success::after,
.form-group.errored .warning::after,
.form-group.errored .error::after {
  border-width: 5px;
}

.form-group.successed .success::before,
.form-group.successed .warning::before,
.form-group.successed .error::before,
.form-group.warn .success::before,
.form-group.warn .warning::before,
.form-group.warn .error::before,
.form-group.errored .success::before,
.form-group.errored .warning::before,
.form-group.errored .error::before {
  margin-left: -1px;
  border-width: 6px;
}

.form-group.successed .success {
  color: var(--green-900);
  background-color: var(--green-100);
  border-color: var(--border-green);
}

.form-group.successed .success::after {
  border-bottom-color: var(--green-100);
}

.form-group.successed .success::before {
  border-bottom-color: var(--border-green);
}

.form-group.warn .form-control {
  border-color: var(--yellow-600);
}

.form-group.warn .warning {
  background-color: var(--yellow-200);
  border-color: var(--border-yellow);
}

.form-group.warn .warning::after {
  border-bottom-color: var(--yellow-200);
}

.form-group.warn .warning::before {
  border-bottom-color: var(--border-yellow);
}

.form-group.errored .form-control {
  border-color: var(--red-600);
}

.form-group.errored label {
  color: var(--text-red);
}

.form-group.errored .error {
  background-color: var(--bg-red-light);
  border-color: var(--border-red-light);
}

.form-group.errored .error::after {
  border-bottom-color: var(--bg-red-light);
}

.form-group.errored .error::before {
  border-bottom-color: var(--border-red-light);
}


.note {
  min-height: 17px;
  margin: var(--spacer-1) 0 2px;
  font-size: var(--font-size-small);
  color: var(--text-gray);
}

.note .spinner {
  margin-right: 3px;
  vertical-align: middle;
}



/* Custom select
Apply `.select` to any `<select>` element for custom styles. */
.form-select {
  display: inline-block;
  max-width: 100%;
  height: var(--size-5);
  padding-right: var(--spacer-4);
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC');
  background-color: var(--bg-white);
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 8px 10px;
  appearance: none;
}

.form-select::-ms-expand {
  opacity: 0;
}

.form-select[multiple] {
  height: auto;
}

.select-sm {
  height: var(--size-4);
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: var(--font-size-small);
}

.select-sm[multiple] {
  height: auto;
  min-height: 0;
}

.input-group {
  display: table;
}

.input-group .form-control {
  position: relative;
  width: 100%;
}

.input-group .form-control:focus {
  z-index: 2;
}

.input-group .form-control+.btn {
  margin-left: 0;
}

.input-group.inline {
  display: inline-table;
}


.input-group .form-control,
.input-group-button {
  display: table-cell;
}

.input-group-button {
  width: 1%;
  vertical-align: middle;
}

.input-group .form-control:first-child,
.input-group-button:first-child .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group-button:first-child .btn {
  margin-right: -1px;
}

.input-group .form-control:last-child,
.input-group-button:last-child .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group-button:last-child .btn {
  margin-left: -1px;
}
