:root {
  /* variables
  Typography variables */
  --h00-size-mobile: 40px;
  --h0-size-mobile: 32px;
  --h1-size-mobile: 26px;
  --h2-size-mobile: 22px;
  --h3-size-mobile: 18px;

  /* Heading sizes - mobile
  h4-h6 remain the same size on both mobile & desktop */

  /* Heading sizes - desktop */
  --h00-size: 48px;
  --h0-size: 40px;
  --h1-size: 32px;
  --h2-size: 24px;
  --h3-size: 20px;
  --h4-size: 16px;
  --h5-size: 14px;
  --h6-size: 12px;

  --font-size-small: 12px;

  /* Font weights */
  --font-weight-bold: 600;
  --font-weight-semibold: 500;
  --font-weight-normal: 400;
  --font-weight-light: 300;

  /* Line heights */
  --lh-condensed-ultra: 1;
  --lh-condensed: 1.25;
  --lh-default: 1.5;

  /* Font stacks */
  --body-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';

  /* Monospace font stack */
  --mono-font: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, monospace;

  /* The base body size */
  --body-font-size: 14px;
  --body-line-height: var(--lh-default);

  /* Black based on same hue as --gray-900 */
  --black: #1b1f23;
  --white: #fff;
  /* -------- Grays -------- */
  --gray-000: #fafbfc;
  --gray-100: #f6f8fa;
  --gray-200: #e1e4e8;
  --gray-300: #d1d5da;
  --gray-400: #959da5;
  --gray-500: #6a737d;
  --gray-600: #586069;
  --gray-700: #444d56;
  --gray-800: #2f363d;
  --gray-900: #24292e;

  /* -------- Blue -------- */
  --blue-000: #f1f8ff;
  --blue-100: #dbedff;
  --blue-200: #c8e1ff;
  --blue-300: #79b8ff;
  --blue-400: #2188ff;
  --blue-500: #0366d6;
  --blue-600: #005cc5;
  --blue-700: #044289;
  --blue-800: #032f62;
  --blue-900: #05264c;

  /* -------- Green -------- */
  --green-000: #f0fff4;
  --green-100: #dcffe4;
  --green-200: #bef5cb;
  --green-300: #85e89d;
  --green-400: #34d058;
  --green-500: #28a745;
  --green-600: #22863a;
  --green-700: #176f2c;
  --green-800: #165c26;
  --green-900: #144620;

  /* -------- Yellow -------- */
  --yellow-000: #fffdef;
  --yellow-100: #fffbdd;
  --yellow-200: #fff5b1;
  --yellow-300: #ffea7f;
  --yellow-400: #ffdf5d;
  --yellow-500: #ffd33d;
  --yellow-600: #f9c513;
  --yellow-700: #dbab09;
  --yellow-800: #b08800;
  --yellow-900: #735c0f;

  /* -------- Orange -------- */
  --orange-000: #fff8f2;
  --orange-100: #ffebda;
  --orange-200: #ffd1ac;
  --orange-300: #ffab70;
  --orange-400: #fb8532;
  --orange-500: #f66a0a;
  --orange-600: #e36209;
  --orange-700: #d15704;
  --orange-800: #c24e00;
  --orange-900: #a04100;

  /* -------- Red -------- */
  --red-000: #ffeef0;
  --red-100: #ffdce0;
  --red-200: #fdaeb7;
  --red-300: #f97583;
  --red-400: #ea4a5a;
  --red-500: #d73a49;
  --red-600: #cb2431;
  --red-700: #b31d28;
  --red-800: #9e1c23;
  --red-900: #86181d;

  /* -------- Purple -------- */
  --purple-000: #f5f0ff;
  --purple-100: #e6dcfd;
  --purple-200: #d1bcf9;
  --purple-300: #b392f0;
  --purple-400: #8a63d2;
  --purple-500: #6f42c1;
  --purple-600: #5a32a3;
  --purple-700: #4c2889;
  --purple-800: #3a1d6e;
  --purple-900: #29134e;

  /* -------- Pink -------- */
  --pink-000: #ffeef8;
  --pink-100: #fedbf0;
  --pink-200: #f9b3dd;
  --pink-300: #f692ce;
  --pink-400: #ec6cb9;
  --pink-500: #ea4aaa;
  --pink-600: #d03592;
  --pink-700: #b93a86;
  --pink-800: #99306f;
  --pink-900: #6d224f;

  /* -------- Fades -------- */
  --black-fade-15: rgba(var(--black), 0.15);
  --black-fade-30: rgba(var(--black), 0.3);
  --black-fade-50: rgba(var(--black), 0.5);
  --black-fade-70: rgba(var(--black), 0.7);
  --black-fade-85: rgba(var(--black), 0.85);

  --white-fade-15: rgba(var(--white), 0.15);
  --white-fade-30: rgba(var(--white), 0.3);
  --white-fade-50: rgba(var(--white), 0.5);
  --white-fade-70: rgba(var(--white), 0.7);
  --white-fade-85: rgba(var(--white), 0.85);

  /* -------- Color defaults -------- */
  --red: var(--red-500);
  --purple: var(--purple-500);
  --blue: var(--blue-500);
  --green: var(--green-500);
  --yellow: var(--yellow-500);
  --orange: var(--orange-500);

  --gray-dark: var(--gray-900);
  --gray-light: var(--gray-400);
  --gray: var(--gray-500);

  /* Border colors */
  --border-white: var(--white);
  --border-black-fade: var(--black-fade-15);
  --border-white-fade: var(--white-fade-15);
  --border-gray-dark: var(--gray-300);
  --border-gray-darker: var(--gray-700);
  --border-gray-light: var(--gray-200);
  --border-gray: var(--gray-200);
  --border-blue: var(--blue-500);
  --border-blue-light: var(--blue-200);
  --border-green: var(--green-400);
  --border-green-light: var(--green-300);
  --border-purple: var(--purple);
  --border-red: var(--red);
  --border-red-light: var(--red-300);
  --border-yellow: var(--yellow-600);

  /* Background colors */
  --bg-white: var(--white);
  --bg-black: var(--black);
  --bg-black-fade: var(--black-fade-50);
  --bg-blue-light: var(--blue-000);
  --bg-blue: var(--blue-500);
  --bg-gray-dark: var(--gray-900);
  --bg-gray-light: var(--gray-000);
  --bg-gray: var(--gray-100);
  --bg-green: var(--green-500);
  --bg-green-light: var(--green-100);
  --bg-orange: var(--orange-700);
  --bg-purple: var(--purple-500);
  --bg-purple-light: var(--purple-000);
  --bg-pink: var(--pink-500);
  --bg-red: var(--red-500);
  --bg-red-light: var(--red-000);
  --bg-yellow: var(--yellow-500);
  --bg-yellow-light: var(--yellow-200);
  --bg-yellow-dark: var(--yellow-700);

  /* Text colors */
  --text-black: var(--black);
  --text-white: var(--white);
  --text-blue: var(--blue-500);
  --text-gray-dark: var(--gray-900);
  --text-gray-light: var(--gray-500);
  --text-gray: var(--gray-600);
  --text-green: var(--green-600);
  --text-orange: var(--orange-900);
  --text-orange-light: var(--orange-600);
  --text-purple: var(--purple);
  --text-pink: var(--pink-500);
  --text-red: var(--red-600);
  --text-yellow: var(--yellow-800);
  /* Layout variables */

  /* These are our margin and padding utility spacers. The default step size we */
  /* use is 8px. This gives us a key of:
     0 => 0px
     1 => 4px
     2 => 8px
     3 => 16px
     4 => 24px
     5 => 32px
     6 => 40px */
  --spacer: 8px;

  /* Our spacing scale */
  --spacer-0: 0;
  --spacer-1: calc(var(--spacer) / 2);
  --spacer-2: var(--spacer);
  --spacer-3: calc(var(--spacer) * 2);
  --spacer-4: calc(var(--spacer) * 3);
  --spacer-5: calc(var(--spacer) * 4);
  --spacer-6: calc(var(--spacer) * 5);

  /* Em spacer variables */
  --em-spacer-1: 0.0625em;
  --em-spacer-2: 0.125em;
  --em-spacer-3: 0.25em;
  --em-spacer-4: 0.375em;
  --em-spacer-5: 0.5em;
  --em-spacer-6: 0.75em;

  /* Size scale
  Used for buttons, inputs, labels, avatars etc. */
  --size: 16px;

  --size-0: 0;
  --size-1: var(--size);
  --size-2: calc(var(--size-1) + 4px);
  --size-3: calc(var(--size-2) + 4px);
  --size-4: calc(var(--size-3) + 4px);
  --size-5: calc(var(--size-4) + 4px);
  --size-6: calc(var(--size-5) + 8px);
  --size-7: calc(var(--size-6) + 8px);
  --size-8: calc(var(--size-7) + 16px);

  /* Fixed-width container variables */
  --container-width: 980px;
  --grid-gutter: 10px;

  /* Breakpoint widths */
  --width-xs: 0;
  /* Small screen / phone */
  --width-sm: 544px;
  /* Medium screen / tablet */
  --width-md: 768px;
  /* Large screen / desktop (980 + (16 * 2)) <= container + gutters */
  --width-lg: 1012px;
  /* Extra large screen / wide desktop */
  --width-xl: 1280px;

  /* Responsive container widths */
  --container-sm: var(--width-sm);
  --container-md: var(--width-md);
  --container-lg: var(--width-lg);
  --container-xl: var(--width-xl);

  /* Miscellaneous variables */

  /* Border */
  --border-width: 1px;
  --border-color: var(--border-gray);
  --border-style: solid;
  --border: var(--border-width) var(--border-color) var(--border-style);

  /* Border Radius */
  --border-radius-1: 4px;
  --border-radius-2: 6px;
  --border-radius-3: 8px;
  --border-radius: var(--border-radius-2);

  /* Box shadow */
  --box-shadow: 0 1px 0 rgba(var(--black), 0.04);
  --box-shadow-medium: 0 3px 6px rgba(var(--gray-400), 0.15);
  --box-shadow-large: 0 8px 24px rgba(var(--gray-400), 0.2);
  --box-shadow-extra-large: 0 12px 48px rgba(var(--gray-400), 0.3);

  --box-shadow-highlight: inset 0 1px 0 rgba(var(--white), 0.25);
  --box-shadow-inset: inset 0 1px 0 rgba(var(--border-color), 0.2);
  --box-shadow-focus: 0 0 0 3px rgba(var(--border-blue), 0.3);

  /* Button variables */
  --border-color-button: var(--black-fade-15);
  --btn-active-shadow: inset 0 0.15em 0.3em var(--black-fade-15);

  /* Form variables */
  --form-control-shadow: inset 0 1px 2px rgba(var(--black), 0.075);
  --btn-input-focus-shadow: 0 0 0 0.2em rgba(var(--blue), 0.3);

  /* Tooltips */
  --tooltip-max-width: 250px;
  --tooltip-background-color: var(--black);
  --tooltip-text-color: var(--white);
  --tooltip-delay: 0.4s;
  --tooltip-duration: 0.1s;

  /* diffstat background colors */
  --bg-diffstat-added: darken(var(--green-400), 5%);
  --bg-diffstat-deleted: var(--red-600);
  --bg-diffstat-neutral: var(--gray-300);
}
