@import './@primer/index.scss';
@import './util';
@import './timeline';
@import './timeline-comment';
@import './permalink-code';
@import './email-fragment';
@import './zigzag';
@import './reactions';

html,
body {
  background-color: transparent;
}

body {
  overflow: hidden;
  padding-bottom: 20px;
}

.form-control {
  font-size: $body-font-size;
}

.flash-not-installed {
  margin-bottom: $spacer-3;
}

textarea[disabled] {
  cursor: not-allowed;
}

#reload-button {
  float: right;
}
