.email-fragment {
  white-space: pre-wrap;
}

.email-hidden-toggle a {
  display: inline-block;
  height: 12px;
  padding: 0 9px;
  font-size: 12px;
  font-weight: 600;
  line-height: 6px;
  color: var(--border-gray-darker);
  text-decoration: none;
  vertical-align: middle;
  background: var(--gray-200);
  border-radius: 1px;
}

.email-hidden-toggle a:hover {
  background-color: var(--gray-300);
}

.email-hidden-toggle a:active {
  color: #fff;
  background-color: var(--border-blue);
}

.email-hidden-reply {
  display: none;
}

.email-hidden-reply.expanded {
  display: block;
}

.email-quoted-reply,
.email-signature-reply {
  padding: 0 15px;
  margin: 15px 0;
  color: var(--text-gray);
  border-left: 4px solid var(--gray-200);
}
