@import './primer.css';
@import './util.css';
@import './timeline.css';
@import './timeline-comment.css';

/* 如果为 600 emoji 将会失去颜色 */
.g-emoji {
  font-weight: 500;
}

.timeline {
  width: 100%;
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}

.markdown-body {
  font-size: 16px;
}

form {
  font-size: var(--body-font-size);
}

fieldset {
  border: none;
  margin: 0 var(--spacer-3);
  padding: 0;
}

input:not([type='radio']) {
  margin: var(--spacer-1) 0;
}

.form-checkbox label {
  display: block;
  cursor: pointer;
}

.code-action {
  float: right;
  margin-top: -(var(--spacer-2));
  margin-bottom: var(--spacer-3);
}

.clear-both {
  clear: both;
}

.copyright {
  width: 300px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}

.copyright a {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  font-weight: 100;
}

.copyright img {
  float: left;
}

.copyright p {
  float: left;
  height: 20px;
  line-height: 20px;
  margin: 0px 0px 0px 5px;
  color: #939393;
}
