.reaction-list {
  border-right: 0;

  @media screen and (min-width: 720px) {
    border-right: $border;
  }
}

.reaction-list > .reaction-button {
  font-weight: normal;
  padding: $spacer-2 $spacer-3;
  border: 0;
  box-shadow: unset;
  border-radius: 0px;

  &[reaction-count='0'] {
    display: none;
  }

  &::after {
    display: inline-block;
    margin-left: 2px;
    content: attr(reaction-count);
  }
}

.reactions-popover {
  summary {
    margin: -1px 0;
    padding: $spacer-2 $spacer-3;
    color: $text-gray;
    white-space: nowrap;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      color: $text-blue;
    }
  }

  .Popover {
    margin-top: $spacer-2;

    .Popover-message--top-right {
      &::before {
        right: 14px;
      }

      &::after {
        right: 15px;
      }
    }
  }

  .Popover-message {
    &::before {
      border-bottom-color: $border-color;
    }

    position: relative;
    padding: $spacer-1;
    display: flex;
    flex-wrap: wrap;
    width: 220px;
    background-color: $bg-white;
    border: $border;
    border-radius: $border-radius;
  }

  .BtnGroup {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    &:first-of-type {
      margin-top: $spacer-6;
    }
  }

  .reaction-button {
    border: 0;
    transition: transform 0.15s cubic-bezier(0.2, 0, 0.13, 2);
    background: transparent !important;
    white-space: nowrap;
    box-shadow: unset;
    border-radius: 0px;

    &:hover {
      transform: scale(1.2);
      color: $text-blue !important;
    }
  }
}

.reaction-name {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: $border;
  padding: $spacer-2 $spacer-3;
  background-color: $bg-white;
  pointer-events: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  .reaction-button + & {
    display: none;
  }

  .reaction-button:hover + & {
    display: block;
  }
}
