.timeline {
  margin: var(--spacer-3) 0;
  padding: 0 var(--spacer-1);
}

.timeline-header {
  margin: 0;
  padding-left: 0;
  font-size: var(--body-font-size);
  color: var(--text-gray);
}

.timeline-header em {
  font-weight: var(--font-weight-normal);
}

.page-loader {
  position: relative;
  margin: 40px 0;
}

.page-loader .btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(calc(-50% - 8px));
  z-index: 1;
}

/* 关联隐藏 .avatar 头像 */
@media screen and (min-width: 375px) {
  .timeline-header {
    padding-left: calc(44 + var(--spacer-3));
  }
}
