@import './variables';

.btn-primary {
  color: $text-gray-dark;
  border-color: $gray-900;
  background: $orange;

  &:hover,
  &:active,
  &:focus {
    border-color: $gray-900;
    background: $orange;
  }

  &:disabled {
    color: $gray-900;
    background: $orange-200;
  }
}

button[role='tab'] {
  color: $gray-600;
  .selected {
    color: $text-gray-dark;
  }
}

.tabnav-tab:focus-visible {
  border-radius: 6px 6px 0 0 !important;
}
