.btn-primary {
  color: $text-gray-dark;
  border-color: $gray-900;
  background: $orange;

  &:hover,
  &:active,
  &:focus {
    border-color: $gray-900;
    background: $orange;
  }

  &:disabled {
    color: $gray-900;
    background: $orange-200;
  }
}

button[role='tab'] {
  color: $gray-600;
  .selected {
    color: $text-gray-dark;
  }
}

.tabnav-tab:focus-visible {
  border-radius: 6px 6px 0 0 !important;
}
*:focus-visible {
  outline: none !important;
  box-shadow: 0 0 0.2em 0.1em opacify($highlight, 0.1);
  border-radius: 1px;
}

.form-control,
.form-select {
  &.focus,
  &:focus {
    border-color: transparent;
    box-shadow: 0 0 0 0.11em opacify($highlight, 0.1) !important;
    outline-color: transparent;
  }
}

.form-select {
  background: transparent
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUAgMAAAD5DFXkAAAACVBMVEXMzMzMzMzMzMzgWE1NAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfiCwMFBDi4mDGnAAAAR0lEQVQI123JIRUAIQAE0eUEgghEIAV5SEEEIiAQMCnZh74RX+xKr6+bNE3ZBjxBV4KpAlt/NTjKsBRhKED1ePzkZeIwoeoCtokT7bjAVYwAAAAASUVORK5CYII=)
    no-repeat right 8px center;
  background-size: 8px 10px;
}

.markdown-body kbd {
  background-color: transparent;
  color: $text-gray-dark;
}

@mixin selection($element) {
  #{$element}::selection {
    @content;
  }
}

@include selection('') {
  background: $highlight;
  color: $text-gray-dark !important;
}

@include selection('img') {
  background: transparentize($highlight, 0.25);
}

@mixin placeholder {
  ::placeholder {
    @content;
  }
}

@include placeholder {
  color: $text-gray-dark;
}

.form-control,
.form-select {
  color: $text-gray-dark;
  background-color: $bg-white !important;
  border-radius: 3px;
}

.bg-gray-light,
.bg-white {
  background-color: $bg-gray !important;
}
